#title_2 {
  color: #ed8e36 !important;
}

header.intro {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5) url("../assets/images/intro_article.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken;
}

header.intro .heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
}