#navbarNav {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.two-seq {
    display: flex;
}

.two-seq-left {
    width: 55%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.two-seq-right {
    background-color: #787978;
    width: 45%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 600px;
    vertical-align: middle
}

.two-seq-left p {
    color: #325B32;
    font-size: 50px;
    font-weight: bold;
}

.two-seq-right p {
    color: #fff;
    font-size: 20px;
}

.btn-see-more {
    background-color: #325B32 !important;
}

.three-seq {
    background-image: url("../assets/images/background_s31.png");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 600px;
    /* You must set a specified height */
    /* OKAY */
    background-size: 100px 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.three-seq {
    display: flex;
}

.three-seq-left {
    width: 50%;
}

.three-seq-right {
    width: 50%;
}

.three-seq-right-up {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.q-one {
    width: 50%;
    text-align: center;
}

.q-two {
    width: 50%;
    text-align: center;
}

.q-three {
    width: 50%;
    text-align: center;
}

.q-four {
    width: 50%;
    text-align: center;
}

.three-seq-right-bottom {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.title-seq {
    text-align: center;
}

.impact-examples {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.impact-one {
    width: 33%;
    text-align: center;
}

.impact-two {
    width: 33%;
    text-align: center;
}

.impact-three {
    width: 33%;
    text-align: center;
}

.impact-four {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.impact-four-text {
    width: 40%;
}

.impact-five {
    width: 50%;
    text-align: center;
}

.impact-five-ods {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.q-one h4, .q-two h4, .q-three h4, .q-four h4 {
    font-weight: bold;
}

.impact-one h4, .impact-two h4, .impact-three h4, .impact-four h4, .impact-five h4 {
    font-weight: bold;
}

.mission-seq {
    display: flex;
}

.icon-mission {

}

.text-mission {
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle
}

.text-mission h1 {
    font-weight: bold;
}

.footer {
    background-color: #7993A8;
    display: flex;
}

.logo {
    width: 65%;
    display: flex;
}

.contact {
    color: #fff;
    /* text-align: center; */
    width: 20%;
    display: flex;
}

.qr {
    color: #fff;
    text-align: center;
    width: 13%;
}